body{
	margin: 0;/*8px-4*/
}
h2{
	margin: 0;/*上下*/
}
a{
	color: #000;/*blue*/
	text-decoration: none;/*underline*/
}
body{
	text-align: center;
	padding: 60px;
}
body > div{
	margin-bottom: 40px;
}
.first h2 a{
	color: rgb(16, 255, 181);
}
.second h2 a{
	color: rgb(255, 134, 11);
}
h2 a{
	display: inline-block;
	width: 80%;
	border: 1px solid #3b5770;
	padding: 10px;
	border-radius: 5px;
	font-size: .8em;
	background-color: #3b5770;
}