/**********************登录注册的样式**********************/
.user .register,.user .login{
	text-align: center;
	padding: 120px 0;
}
.user .container{
	height: 560px;
	overflow: hidden;
}
#register{
	position: relative;
	background-color: #fff;
}
input{
	width: 300px;
	height: 40px;
	background-color: #fff;
	border: 1px solid #00a79d;
	border-radius: 5px;
	font-size: 16px;
	color: #000;
	padding: 2px 5px;
	line-height: 36px;
	margin: 10px 0;
}
input.check{
	width: 20px;
	height: 20px;
	vertical-align: bottom;
}
.agreement{
	color: #00a79d;
}
.agreement:hover{
	color: #097e77;
}
input.submit{
	background-color: #00a79d;
	color: #fff;
}
#to_login,#to_register{
	color: #00a79d;
}
#to_login:hover,#to_register:hover{
	color: #097e77;
	cursor: pointer;
}
footer{
	position: absolute;
	bottom: -200px;
	left: 0;
	width: 100%;
}
/**********************登录注册的样式**********************/















